
/*문서 전반 style*/
.main-box{
  text-align: center;
  font-family: 'Dongle', sans-serif;
  margin-left: auto;
  margin-right: auto;
  border: 4px double rgba(177, 146, 251, 0.811);
  background-color: rgba(238, 221, 253, 0.377);
  box-shadow: 0px 3px 20px 3px rgb(168, 92, 255);
}

/*메인 타이틀 style*/
.main-title{
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
  color:rgb(155, 113, 255);
  border-bottom: 4px double rgb(206, 188, 249);
}

/*Main info box*/
.wrap1{
  display: inline-block; 
  margin-left: 50px;
}

/*Main info title text*/
#h3-1{
  font-size: 55px; 
  font-weight: bolder; 
  margin-bottom: 20px;
}

/*maininfo box 내부 style*/
.main-info{
  font-weight:bold;
  font-size: 35px;
  padding-top:20px;
  line-height: 13px;
  border: 3px dashed rgba(221, 193, 246, 0.848);
  border-radius: 20px;
  width:450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color:rgb(182, 99, 255);
}

/*내 사진 마우스 오버*/
.minji-img{
  width: 170px;
  height: 235px;
  border-radius: 25px; 
  margin: 0px auto;
  background: url(image/민쥐.jpg) no-repeat;
  background-size: contain;
}
.like-text{
  background: #fffbfb;
  border-radius: 25px;
  height: 100%;
  opacity:0;
}
.minji-img:hover .like-text{
  cursor: pointer;
  opacity: 0.6;
  color: #2d2929;
  font-size: 40px;
  font-weight: 700;
  line-height: 230px;
}

/*textarea 용도 소개하는 p태그 style*/
#p-toMinji{
  font-size: 30px; 
  margin-top:15px; 
  margin-bottom: 0px; 
  color:rgb(175, 105, 255);
}

/*textarea style*/
#send-txt{
  background-color: rgb(243, 219, 255);
  border: 2px solid rgb(198, 159, 250);
  color:rgb(183, 25, 251);
  font-size: 23px;
}
#send-txt:focus{
  outline-color:rgb(190, 40, 255);
}

/*textarea에 적힌 글자 수 나타내는 부분*/
#count{
  font-size: 20px; 
  color: rgb(166, 53, 246);
}

/*textarea 아래 send 버튼 style*/
#send-btn{
  font-size: 20px; 
  background-color: rgb(228, 196, 255); 
  color: rgb(154, 31, 249); 
  border: 1px solid rgb(198, 98, 252); 
  border-radius: 10px; 
  padding-bottom: 0px;
}

/*💌*/
#p-emoji{
  margin-top: 5px;
  margin-bottom: 0px;
}

/*text area->send 버튼 클릭 후 직전 입력한 text 나타내는 영역*/
#result-txt{
  font-size: 23px;
  color: rgb(185, 100, 250);
  margin-top: 0px;
}

/*sub info 박스*/
.wrap2{
  display: inline-block; 
  margin-left: 30px
}

/*subinfo title style*/
#h3-2{
  font-size: 50px; 
  font-weight: bolder; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding-top: 5px;
}

/*maininfo title,subinfo title 공통 style*/
h3{
  font-style: italic;
  border-top: 2px solid rgba(169, 77, 255, 0.702);
  border-bottom: 2px solid rgba(169, 77, 255, 0.702);
  width: 400px;
  height: 65px;
  color:rgb(168, 100, 231);
  margin-left: auto;
  margin-right: auto;
}

/*sub info 내부 style*/
.sub-info{
  font-weight:bold;
  font-size: 35px;
  line-height: 15px;
  padding-top:20px;
  border: 3px dashed rgba(221, 193, 246, 0.848);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width:450px;
  color:rgb(182, 99, 255);
  margin-bottom: 20px;
}

/*subinfo에 이용된 이미지들 공통 style*/
.img-style{
  border-radius: 200px; 
  border: 4px outset rgb(205, 178, 249);
}

/*이미지 -> 텍스트 마우스 오버*/
.imgs{
  position: relative;
  margin: auto;
  width: 250px;
  height: 250px;
  display: inline-block;
}
.imgs .txt{
  color: #fff;
  position: absolute; left: 0px; bottom: 0;
  background: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  border-radius: 200px;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
.imgs:hover .txt{
  opacity: 1;
}
.imgs .txt p{
  font-size: 25px;
  line-height: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

/*이미지 -> 이미지 마우스 오버*/
.two-imgs{
  position:relative;
  margin: 0px auto;
  width: 250px;
  display: inline-block;
}
.puppy2{
  position: absolute;
  top:0px;
  left:0px;
  display: none;
}
.two-imgs:hover .puppy2{
  display: block;
}
.winkPanda{
  position: absolute;
  top:0px;
  left:0px;
  display: none;
}
.two-imgs:hover .winkPanda{
  display: block;
}

/*숨김 박스(리스트)*/
#secretContent{
  display: none;
  font-size: 23px;
  color:rgb(255, 165, 204);
  width: 230px;
  list-style: circle;
  opacity: 0.7;
  margin: auto;
}

#secrets{
  cursor: pointer;
  border-bottom: 1px solid rgb(252, 214, 248);
  color:rgb(255, 165, 204);
  font-size: 23px;
  opacity: 0.6;
  margin: auto;

}

#secrets:hover{
  text-decoration: underline;
}

/*이미지 변경버튼*/
#change-btn{
  border-radius: 20px;
  font-size: 21px;
  background-color: rgba(239, 195, 107, 0.935);
  color:#3d3535;
  opacity: 0.9;
  margin-left: 170px;
  margin-top: 5px;
  border: 0;
}

/*마지막 문구 style*/
.last-ment{
  font-weight:bold;
  font-size: 35px;
  border: 3px dashed rgba(221, 193, 246, 0.848);
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width:500px;
  margin-top: 30px;
  margin-bottom: 5px;
  color:rgb(182, 99, 255);
  cursor: pointer;
}

#p-txt1{
  font-style: italic; 
  display: inline-block; 
  margin-bottom: 0px;
}

#p-txt2{
  font-style: italic; 
  display: inline-block; 
  color:rgb(101, 98, 249); 
  margin-left:5px; 
  margin-bottom: 0px;
}

/*마지막 가보자고 이미지 style*/
#gabojago{
  width:50px;
  height:50px;
  cursor: pointer;
}